<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felixstanley.makanmoerahandroid">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Use Custom Application Class -->
    <application
        android:name=".MainApplication"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakanMoerahAndroid">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="makanmoerah.com"
                    android:path="/redirectToAndroid"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Google Maps API Key -->
        <!-- TODO: Refrain from storing API Key here (Use Secret Gradle Plugin) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmZnaLh1AgmcMgyqzNJZMM4GfTiNQ5-vc" />
    </application>

</manifest>